page-list {
  .subtitle {
    font-weight: bold;
    color: #515151;
  }
  ion-header .toolbar-background-md {
    background: none;
  }
  ion-footer {
    border-top: 2px solid grey;
    .toolbar-background-md {
      background: white;
    }
  }

  .bar-button-md {
    margin: 0 .4rem;
  }
}
