<ion-header (press)="editList()">
  <ion-toolbar [ngStyle]="{background: list?.color.css}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{list?.label}}</ion-title>
    <ion-buttons end *ngIf="!reordering">
      <button ion-button icon-only (tap)="reordering = true">
        <ion-icon name="list"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="resetList()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="delList()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="reordering">
      <button ion-button icon-only (tap)="validReordering()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Liste des elements -->
  <ion-list no-lines [reorder]="reordering" (ionItemReorder)="reorderItems($event)">
    <ng-container *ngFor="let item of items; let i = index">

      <ion-item-sliding>
        <ion-item *ngIf="!item.hide && !item.isSection && !item.checked" (press)="editItem(item)" text-wrap>
          <input type="checkbox" [attr.id]="item.label" (click)="checkItem(item)" [disabled]="reordering" item-start>
          <label class="checkmark" [attr.for]="item.label" item-start></label>
          <ion-label>{{item.label}}</ion-label>
          <ion-note item-end *ngIf="item.qty > 1">x{{item.qty}}</ion-note>
        </ion-item>

        <ion-item *ngIf="item.isSection" class="subtitle" (press)="editItem(item)" (tap)="hideSection(item.id)" text-wrap>
          <ion-label>{{item.label}}</ion-label>
        </ion-item>

        <ion-item-options (ionSwipe)="delItem(item.id)" side="left">
        </ion-item-options>
        <ion-item-options (ionSwipe)="delItem(item.id)" side="right">
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

</ion-content>

<!-- Permet d'ajouter un item -->
<ion-footer [ngStyle]="{borderColor: list?.color.css}">
  <ion-toolbar>
    <ion-input name="newItem" placeholder="{{'ADD_ITEM' | translate}}" [(ngModel)]="newItemName" (keyup.enter)="quickAdd()"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (tap)="newItemIsTag = !newItemIsTag">
        <ion-icon name="pricetag" [ngStyle]="{color: newItemIsTag ? list?.color.css : '#c1c1c1'}"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="quickAdd()">
        <ion-icon name="add-circle" [ngStyle]="{color: list?.color.css}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
