<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{list.label}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Liste des elements -->
  <ion-list no-lines>
    <ng-container *ngFor="let item of listItems; let i = index">

      <ion-item *ngIf="!item.hide && !item.isSubtitle" (swipeleft)="delItem(item.id)" (swiperight)="delItem(item.id)" (press)="editItem(item)">
        <ion-label>{{item.label}}</ion-label>
        <ion-checkbox [(ngModel)]="item.checked" (tap)="checkItem(item)"></ion-checkbox>
        <ion-note item-end>x{{item.qty}}</ion-note>
      </ion-item>

      <ion-item *ngIf="item.isSubtitle" class="subtitle" (swipeleft)="delItem(item.id)" (swiperight)="delItem(item.id)" (press)="editItem(item)"
        (tap)="hideRayon(item.id)">
        <ion-label>{{item.label}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <!-- Bouton d'ajout d'item -->
  <ion-fab bottom center>
    <button ion-fab mini (tap)="addItem()">+</button>
  </ion-fab>

</ion-content>