<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{"CLOSE" | translate}}</button>
    </ion-buttons>
    <ion-title>{{"MODAL_ADD_ITEM_TITLE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #addItemForm="ngForm" (ngSubmit)="dismiss(true)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label color="primary">{{"ADD_SECTION_LABEL" | translate}}</ion-label>
        <ion-toggle name="isSection" [(ngModel)]="item.isSection"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>{{"NAME_LABEL" | translate}}</ion-label>
        <ion-input name="label" placeholder="{{'NAME_PLACEHOLDER' | translate}}" autocomplete="true" [(ngModel)]="item.label" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!item.isSection">
        <ion-label color="primary" fixed>{{"QTY_LABEL" | translate}}</ion-label>
        <ion-input name="qty" type="number" placeholder="{{'QTY_PLACEHOLDER' | translate}}" min="0" step="1" [(ngModel)]="item.qty"
          required></ion-input>
      </ion-item>
      <ion-item *ngIf="sections.length > 0 && !item.isSection">
        <ion-label color="primary" fixed>{{"SECTION_LABEL" | translate}}</ion-label>
        <ion-select [(ngModel)]="sectionId" name="section" placeholder="{{'SECTION_PLACEHOLDER' | translate}}" cancelText="{{'CANCEL' | translate}}">
          <ion-option *ngFor="let section of sections" [value]="section.id">{{section.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <button ion-button type="submit" [disabled]="!addItemForm.form.valid" full>{{"SUBMIT" | translate}}</button>
  </form>
</ion-content>
