<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Ajouter un item</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #addItemForm="ngForm" (ngSubmit)="dismiss(true)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Libelle</ion-label>
        <ion-input name="libelle" placeholder="Entrer un libelle" autocomplete="true" [(ngModel)]="newItem.label" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Quantité</ion-label>
        <ion-input name="quantité" type="number" placeholder="Entrer un nombre" min="0" step="1" [(ngModel)]="newItem.qty" required></ion-input>
      </ion-item>
      <ion-item *ngIf="subtitles.length > 0">
        <ion-label color="primary">Rayon</ion-label>
        <ion-select [(ngModel)]="rayonId" name="rayon" cancelText="annuler">
          <ion-option *ngFor="let subtitle of subtitles" [value]="subtitle.id">{{subtitle.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <button ion-button type="submit" [disabled]="!addItemForm.form.valid" full>Valider</button>
  </form>
</ion-content>