ion-list.list-md {
  margin-bottom: 0;
}

agesse-color-select {
  .flex-container {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  span {
    width: 7vh !important;
    height: 7vh !important;
  }
}